
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-family: century gothic;
	vertical-align: baseline;
	-webkit-font-smoothing:antialiased;
	border: 0;
	margin: 0;
	padding: 0;
	font-weight: 100;
	text-decoration: none;
}

.noscroll{
	overflow-y: hidden;
}

#background{
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -10;
}

#titlecont{
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	margin-top: 200px;
}

#title, #subtitle{
	opacity: 0;
	margin-top: 30px;
}

#navbar{
	padding-top: 150px;
	height: 100%;
	width: 150px;
	left: -150px;
	background-color: rgba(0,0,0,0.3)
}

.navitem{
	padding: 6px 0;
	margin: 16px 30px;
	color: #eee;
	text-align: center;
}

.mainitem{
	font-weight: 700;
}

.currentpage{
	border-bottom: 1px solid #eee
}

.maincontent{
	background-color: #eee;
	min-height: 500px;
	padding: 40px 100px;
}















