/* YOUR CUSTOM STYLES */

.translucent{
	background-color: rgba(64,81,180, 0.8);
}

	.bgimage
{		background-image: url('http://www.baltana.com/files/wallpapers-1/Meteor-High-Quality-Wallpapers-02810.jpg');
    	background-position: center center;
		background-size: cover;
		height: 100px;



}/*https://lh3.google.com/u/0/d/0ByqXBX97dkxmVDFsR1hpYlFxZkk=w2000-h1666-iv1
/*https://www.jetbrains.com/img/home-page/header-bg@2x.png*/

 	.perceptron section{
	text-align: center;
}
